extends ./layouts/master.pug

block title
  title My Page - Home

block content
  .header
    select.form-select#form(name="form")
      option(value="sphere") circle
      option(value="cube") cube
      option(value="ring") ring
      
    input.scale-select#scale(placeholder='scale' type="number" min='1' max='10')

    button.form-append#append append

  #scene


  .items